modules = ["nodejs-20"]

[workflows]
runButton = "Run App"

[[workflows.workflow]]
name = "Run App"
mode = "sequential"
author = 43440366

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".tsx"]
id = "module:nodejs-20/formatter:prettier"
